body{
  background-color: #696969;
  background-image: url('https://ak0.picdn.net/shutterstock/videos/4582790/thumb/1.jpg'); 
  background-size: cover;
  color: #D3D3D3;
  font-family: 'New Tegomin', serif;
  margin-top: 100px;
}
header{
  background-image: url('https://getwallpapers.com/wallpaper/full/f/b/9/1463890-beautiful-moving-matrix-code-wallpaper-1920x1080.jpg');  
  background-size: cover;
  height: 80px;
}
.img-foto{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 7px solid #32CD32;
  display:block;
  margin-left: auto;
  margin-right:auto;
  transform: translatey(-50%);
}
.img-github{
  height: 50px;
  --width: 80px;
  border: none;
  outline: none;
  filter: invert(100%);
}
section{
  display: block;
  background-color: #000;
  border: 4px solid #32CD32;
  border-radius: 10px;
  max-width: 500px;
  padding: 15px;
  margin-left: auto;
  margin-right:auto;
  
}


.div-insignas{
  font-family: 'Oswald', sans-serif;
  border: 3px solid #32CD32;
  border-radius: 5px;
  padding-left: 10px;
  background-color: #fff;
  color: #000;
}

.div-github{
  --border: 1px solid white;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left:auto;
  --margin-right:200px;
  height:50px;
  width: 100px;
  transform: translatey(-140%);
   
}
.div-nome{ 
  --border: 1px solid white;
  
  height: 80px;  
}
h1{
  --border: 1px solid white;
  font-size: 30px;
  padding-left: 10px;
}
